{% block content %}
<div class="task">
    <div class="description">
        {{ task.description }}
    </div>
    <div class="checkbox">
        <form>
            {% if task.done %}
            <input type="checkbox" name="" onclick="toggleDone({{task.id}})" checked/>
            {% else %}
            <input type="checkbox" name="" onclick="toggleDone({{task.id}})"/>
            {% endif %}
        </form>
    </div>
    <div class="delete-button">
        <button onclick="deleteTask({{ task.id }})">
            Delete
        </button>
    </div>
    <!-- 
    <div class="edit-button">
        <button onclick="editTask()">
        Edit</button>
    </div> 
    -->

    
</div>
{% endblock %}